@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* Ajoutez d'autres styles globaux nécessaires 
Add other global styles as required
*/
